<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hr.mapper.HrShiftMapper">
    
    <resultMap type="HrShift" id="HrShiftResult">
        <result property="shiftId"    column="shift_id"    />
        <result property="shiftName"    column="shift_name"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="crossDay"    column="cross_day"    />
        <result property="lateMinutes"    column="late_minutes"    />
        <result property="earlyLeaveMinutes"    column="early_leave_minutes"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectHrShiftVo">
        select shift_id, shift_name, start_time, end_time, cross_day, late_minutes, early_leave_minutes, status, create_by, create_time, update_by, update_time, remark from hr_shift
    </sql>

    <select id="selectHrShiftList" parameterType="HrShift" resultMap="HrShiftResult">
        <include refid="selectHrShiftVo"/>
        <where>  
            <if test="shiftName != null  and shiftName != ''"> and shift_name like concat('%', #{shiftName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectHrShiftById" parameterType="Long" resultMap="HrShiftResult">
        <include refid="selectHrShiftVo"/>
        where shift_id = #{shiftId}
    </select>
        
    <insert id="insertHrShift" parameterType="HrShift" useGeneratedKeys="true" keyProperty="shiftId">
        insert into hr_shift
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shiftName != null">shift_name,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="crossDay != null">cross_day,</if>
            <if test="lateMinutes != null">late_minutes,</if>
            <if test="earlyLeaveMinutes != null">early_leave_minutes,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shiftName != null">#{shiftName},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="crossDay != null">#{crossDay},</if>
            <if test="lateMinutes != null">#{lateMinutes},</if>
            <if test="earlyLeaveMinutes != null">#{earlyLeaveMinutes},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateHrShift" parameterType="HrShift">
        update hr_shift
        <trim prefix="SET" suffixOverrides=",">
            <if test="shiftName != null">shift_name = #{shiftName},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="crossDay != null">cross_day = #{crossDay},</if>
            <if test="lateMinutes != null">late_minutes = #{lateMinutes},</if>
            <if test="earlyLeaveMinutes != null">early_leave_minutes = #{earlyLeaveMinutes},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where shift_id = #{shiftId}
    </update>

    <delete id="deleteHrShiftByIds" parameterType="String">
        delete from hr_shift where shift_id in 
        <foreach item="shiftId" collection="array" open="(" separator="," close=")">
            #{shiftId}
        </foreach>
    </delete>
</mapper>

